@media (max-width: 960px) {
    .edge {
        min-height: 470px;
        padding: 70px 0 65px 0;
        &__icons {
            margin-top: 60px;

            flex-direction: column;
            align-items: center;
        }
        .edge__icon {
            img { 
                margin-top: 10px;
            }
        }        
    }
    .consultation {
        .title_left {
            font-size: 20px;
            line-height: 27px;
        } 
        .consultation__descr {
            font-size: 15px;
        }
    }
   
    .carousel {
        &__inner  {
            max-width: 550px;
        }  
    } 
}

@media (max-width: 720px) {
    .header {
        &__official {
            font-size: 14x;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
    .carousel {
        &__inner  {
            max-width: 400px;
        }  
    } 
}

@media (max-width: 540px) {
    .header {
        &__header{
            font-size: 40px;
        }
        &__subheader{
            font-size: 14px;
        }
        &__official {
            font-size: 9px;
            span {
                font-size: 9px;
            }
        }
        &__phone {
            font-size: 10px;
        }
        .button {
            width: 90px;
            font-size: 9px;
        }
        &__logo {
            max-width: 150px;
        }
    }
    .promo {
        &__icons {
            max-width: 325px;
        }
        &__header {
            text-align: end;
        }
        &__subheader {
            text-align: end;
        }
    }
    .carousel {
        &__inner  {
            max-width: 200px;
        }  
    } 
}




